@inherits LayoutComponentBase

<div class="w-full h-screen flex">
    <div class="w-1/2 flex items-center justify-center bg-gray-200">
        <MudText Typo="Typo.h3">Welcome</MudText>
    </div>
    <div class="w-1/2 flex items-center justify-center">
        @Body 
    </div>
</div>
