@namespace fnb_management_portal.Components
@using Microsoft.AspNetCore.Components.Web
@using MudBlazor

<head>
    <link href="app.css" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<CascadingAuthenticationState>
    <MudThemeProvider Theme="CustomTheme" />
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" />
        </Found>
        <NotFound>
            <PageTitle>Not Found</PageTitle>
            <h3>Sorry, the page was not found.</h3>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    MudTheme CustomTheme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            AppbarBackground = new MudBlazor.Utilities.MudColor("#1E40AF"), // Tailwind blue-800
            Primary = new MudBlazor.Utilities.MudColor("#1E40AF"), 
            Secondary = new MudBlazor.Utilities.MudColor("#3B82F6"), 
            AppbarText = new MudBlazor.Utilities.MudColor("#000000"), // White text on appbar
        },

        PaletteDark = new PaletteDark()
        {
            AppbarBackground = new MudBlazor.Utilities.MudColor("#1DACD6"),
            Primary = new MudBlazor.Utilities.MudColor("#1DACD6"),
            Secondary = new MudBlazor.Utilities.MudColor("#48D1CC"),
        }
    };
}