@namespace fnb_management_portal.Components
@using Microsoft.AspNetCore.Components.Web
@using MudBlazor

<head>
    <link href="app.css" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<CascadingAuthenticationState>
    <MudThemeProvider />
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" />
        </Found>
        <NotFound>
            <PageTitle>Not Found</PageTitle>
            <h3>Sorry, the page was not found.</h3>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
